{block content}
<h1 class="page-header">Orders</h1>
<order-list params='url: "{link :Api:Order:get associate => ['customer', 'invoice']}"'></order-list>
{/block}

{block scripts}
<script type="text/javascript">
require(['knockout'], function(ko) {
    ko.components.register('order-list', { require: 'component/OrderList' });
    ko.applyBindings();
});
</script>